<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Loan Prediction</title>
	<link rel="stylesheet" href="static/home.css">
</head>
<body>
	<div class="container">

		<div class="content">
			<br><br><br><br><br><br><br><br>

			<br>
		    <h1>Smart Lender - Applicant Credibility Prediction For Loan Approval </h1>
			<p> Predit your loan eligibility here</p><br><br>
			<a href="predition" class="btn">PREDICT</a>
			<br><br>



		</div>
	  
</div>
</body>
</html>
Footer
